<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>signupresponse</servlet-name>
        <servlet-class>signupresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginresponse</servlet-name>
        <servlet-class>loginresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtocartlogic</servlet-name>
        <servlet-class>addtocartlogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>placeorder</servlet-name>
        <servlet-class>placeorder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletecartitem</servlet-name>
        <servlet-class>deletecartitem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminloginresponse</servlet-name>
        <servlet-class>adminloginresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchlogic</servlet-name>
        <servlet-class>searchlogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcategory</servlet-name>
        <servlet-class>addcategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchcategories</servlet-name>
        <servlet-class>fetchcategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletecategory</servlet-name>
        <servlet-class>deletecategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getcategorynames</servlet-name>
        <servlet-class>getcategorynames</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addproduct</servlet-name>
        <servlet-class>addproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteproduct</servlet-name>
        <servlet-class>deleteproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchproducts</servlet-name>
        <servlet-class>fetchproducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogout</servlet-name>
        <servlet-class>adminlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeqty</servlet-name>
        <servlet-class>changeqty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopkeepersignupresponse</servlet-name>
        <servlet-class>shopkeepersignupresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchshopkeepers</servlet-name>
        <servlet-class>fetchshopkeepers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changestatus</servlet-name>
        <servlet-class>changestatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopkeeperlogout</servlet-name>
        <servlet-class>shopkeeperlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopkeeperloginresponse</servlet-name>
        <servlet-class>shopkeeperloginresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchproductbyid</servlet-name>
        <servlet-class>fetchproductbyid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchproductsbycategoryname</servlet-name>
        <servlet-class>fetchproductsbycategoryname</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addratings</servlet-name>
        <servlet-class>addratings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtocartapp</servlet-name>
        <servlet-class>addtocartapp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchcart</servlet-name>
        <servlet-class>fetchcart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>placeorderapp</servlet-name>
        <servlet-class>placeorderapp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepasswordresponse</servlet-name>
        <servlet-class>changepasswordresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchorders</servlet-name>
        <servlet-class>fetchorders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchorderdetails</servlet-name>
        <servlet-class>fetchorderdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopkeeperchangepassword</servlet-name>
        <servlet-class>shopkeeperchangepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminchangepasswordresponse</servlet-name>
        <servlet-class>adminchangepasswordresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpassword</servlet-name>
        <servlet-class>forgotpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpassword1</servlet-name>
        <servlet-class>forgotpassword1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackresponse</servlet-name>
        <servlet-class>feedbackresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminforgotpasswordresponse</servlet-name>
        <servlet-class>adminforgotpasswordresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminforgotpasswordresponse1</servlet-name>
        <servlet-class>adminforgotpasswordresponse1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopkeeperforgotpasswordresponse</servlet-name>
        <servlet-class>shopkeeperforgotpasswordresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopkeeperforgotpasswordresponse1</servlet-name>
        <servlet-class>shopkeeperforgotpasswordresponse1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpleMailDemo</servlet-name>
        <servlet-class>vmm.SimpleMailDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addproductgallery</servlet-name>
        <servlet-class>addproductgallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchproductgallery</servlet-name>
        <servlet-class>fetchproductgallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteproductgallery</servlet-name>
        <servlet-class>deleteproductgallery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signupresponse</servlet-name>
        <url-pattern>/signupresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginresponse</servlet-name>
        <url-pattern>/loginresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtocartlogic</servlet-name>
        <url-pattern>/addtocartlogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>placeorder</servlet-name>
        <url-pattern>/placeorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletecartitem</servlet-name>
        <url-pattern>/deletecartitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminloginresponse</servlet-name>
        <url-pattern>/adminloginresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchlogic</servlet-name>
        <url-pattern>/searchlogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcategory</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchcategories</servlet-name>
        <url-pattern>/fetchcategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletecategory</servlet-name>
        <url-pattern>/deletecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getcategorynames</servlet-name>
        <url-pattern>/getcategorynames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addproduct</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteproduct</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchproducts</servlet-name>
        <url-pattern>/fetchproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogout</servlet-name>
        <url-pattern>/adminlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeqty</servlet-name>
        <url-pattern>/changeqty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopkeepersignupresponse</servlet-name>
        <url-pattern>/shopkeepersignupresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchshopkeepers</servlet-name>
        <url-pattern>/fetchshopkeepers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changestatus</servlet-name>
        <url-pattern>/changestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopkeeperlogout</servlet-name>
        <url-pattern>/shopkeeperlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopkeeperloginresponse</servlet-name>
        <url-pattern>/shopkeeperloginresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchproductbyid</servlet-name>
        <url-pattern>/fetchproductbyid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchproductsbycategoryname</servlet-name>
        <url-pattern>/fetchproductsbycategoryname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addratings</servlet-name>
        <url-pattern>/addratings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtocartapp</servlet-name>
        <url-pattern>/addtocartapp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchcart</servlet-name>
        <url-pattern>/fetchcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>placeorderapp</servlet-name>
        <url-pattern>/placeorderapp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepasswordresponse</servlet-name>
        <url-pattern>/changepasswordresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchorders</servlet-name>
        <url-pattern>/fetchorders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchorderdetails</servlet-name>
        <url-pattern>/fetchorderdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopkeeperchangepassword</servlet-name>
        <url-pattern>/shopkeeperchangepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminchangepasswordresponse</servlet-name>
        <url-pattern>/adminchangepasswordresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpassword</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpassword1</servlet-name>
        <url-pattern>/forgotpassword1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackresponse</servlet-name>
        <url-pattern>/feedbackresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminforgotpasswordresponse</servlet-name>
        <url-pattern>/adminforgotpasswordresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminforgotpasswordresponse1</servlet-name>
        <url-pattern>/adminforgotpasswordresponse1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopkeeperforgotpasswordresponse</servlet-name>
        <url-pattern>/shopkeeperforgotpasswordresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopkeeperforgotpasswordresponse1</servlet-name>
        <url-pattern>/shopkeeperforgotpasswordresponse1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleMailDemo</servlet-name>
        <url-pattern>/SimpleMailDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addproductgallery</servlet-name>
        <url-pattern>/addproductgallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchproductgallery</servlet-name>
        <url-pattern>/fetchproductgallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteproductgallery</servlet-name>
        <url-pattern>/deleteproductgallery</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
